<%= form_for @product do |f| %>
	<div class="col m6">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="col m6">
		<%= f.label :price %>
		<%= f.number_field :price %>
	</div>
	<div class="col m6">
		<%= f.label :quantity %>
		<%= f.number_field :quantity %>
	</div>
	<div class="col m6">
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>
	<div class="col m6">
		<%= f.label :brand %>
		<%= f.text_field :brand %>
	</div>
	<div class="col m6">
		<%= f.label :category %>
		<%= f.select :category, ['Electronics', 'Furniture', 'Garden', 'Outdoors'] %>
	</div>
	<%= f.submit class: "btn", id: "nav" %>
<% end %>
