<!DOCTYPE html>
<html>
  <div class='container'>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet">
      <title>Ecommerce</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
    </head>

    <body>
      <% flash.each do |type, message| %>
      <div class="flash <%=type %>" %>
        <%= message %>
      </div>
      <% end %>
      <%= render(partial: '/layouts/navbar') %>
      <%= yield %>
    </body>
  </div>
</html>
